.facebook{
    color: blue;
    margin-bottom: 50px;
}
.phone{
margin-left: 20px;
height: 30px;
width: 300px;
border-color: blue;
background-color: rgb(255, 249, 240);
border-radius: 10px;
}
.phone:hover{
cursor: pointer; 

}
.password{
margin-left: 1px;
margin-top: 20px;
height: 30px;
width: 300px;
border-color: blue; 
background-color: rgb(255, 249, 240);
border-radius: 10px;  
}
.password:hover{
cursor: pointer;
}
.login{
margin-top: 20px;
margin-bottom: 10px;
margin-left: 70px;
height: 45px;
width:300px;
background-color: rgb(0, 0, 255);
color: rgb(255, 255, 254);
border: none;
cursor: pointer;
}
.login:hover{
background-color: rgb(84, 52, 211);
color: rgb(255, 255, 255);
}
.login:active{
background-color: rgb(2, 2, 149);
}
.forgot{
margin-left: 250px;
margin-top: 20px;
}